<div class="container">

<div class="center-btn">
  <a href="/campaign" class="waves-effect waves-light btn">Volver a lista de campañas<i class="material-icons right">send</i></a>

</div>
<br>
<ul class="collection">
  <li class="collection-item avatar">
    <img src="<%= user.pic_name %>" alt="" class="circle">
    <h3><span class="title teal-text">¿Donde hay que hacer cola?</span></h3>
    <h5><%= campaign.description %><br></h5>
  </li>
</ul>

<div class="center-btn center-align">
  <div class="row center-align">
    <div class="col s6 offset-s3">
      <div class="card-panel teal">
      <span class="white-text"> SHOW ME THE MONEY!! <h2><%= campaign.price %>€</h2></span>
      </div>
    </div>
  </div>
</div>

<div class="center-btn">

  <% if(campaign.isRequest == true) { %>
    <% if(user._id == campaign.isGoingToWaitId){ %>
      <% if(campaign.isCompleted === true){ %>
    <h5><span class="teal-text">La cola ha finalizado</span>. Puedes dejar una valoración al creador</h5>
    <% } else { %>
      <h5><span class="teal-text">Vas a esperar esta cola.</span> Ánimo cárgate de paciencia y una silla</h5>
      <br>
      <% } %>
    <% } else { %>
      <h3>Usuario que va a esperar la cola:</h3>
        <h5 class="teal-text"><%= campaign.isGoingToWaitName %></h5>
      <% } %>
      <% } else { %>

    <h5><span class="teal-text">¿Nadie quiere hacerla?</span> Hazla tú, seguro que encuentras una nueva amistad</h5>
    <form action="/campaign/<%= campaign._id %>/request" method="post">
      <input id="checkBox" style="display:none" type="checkbox" checked="checked" name="requestCampaign">
      <button class="btn waves-effect waves-light" type="submit" name="action">YO QUIERO HACER ESTA COLA</button>

    </form>
    <% } %>

    <% if (user._id == campaign.isGoingToWaitId && campaign.isRequest == true && campaign.isCompleted == false){ %>
      <form action="/campaign/<%= campaign._id %>/request" method="post">
      <input style="display:none" id="checkBox" type="checkbox" name="requestCampaign">
      <button class="btn waves-effect waves-light" type="submit" name="action">MEJOR NO, PASO DE ESPERAR</button>
    </form>
    <% } %>

    <% if(campaign.isCompleted === true && user._id == campaign.isGoingToWaitId) { %>
      <div class="center-btn">
        <a href="/review/<%= campaign._id %>/create" class="btn btn-success"><span class="fa fa-sign-in"></span>ENVIA UNA RESEÑA AL CREADOR</a>
        <br><br>
      </div>
      <% } %>
    </div>
      <br><br>
      <div class="col s8 offset-s2">
        <div id="map"></div>
      </div>
    </div>
    <div class="center-btn">
  <% if(user._id == campaign.refCreatorId) {%>
    <% if(campaign.isCompleted == false) { %>
      <br>
      <form action="/campaign/<%= campaign._id %>/complete" method="post">
        <input id="checkBox" style="display:none" type="checkbox" checked="checked" name="requestCampaign">
        <button class="btn waves-effect waves-light" name="action">MARCAR COMO FINALIZADA</button>
      </form>
      <br><br>
      <a href="/campaign/<%= campaign._id %>/update" class="btn btn-success"><span class="fa fa-sign-in"></span>EDITAR CAMPAÑA</a>
      <br><br>
      <button class="btn waves-effect waves-light" name="action"><a href="/campaign/<%= campaign._id %>/delete" style="color:white">ELIMINAR PERMANENTEMENTE</a></button>
      <br>
  <% } else { %>
    <form action="/campaign/<%= campaign._id %>/complete" method="post">
      <input style="display:none" id="checkBox" type="checkbox" name="requestCampaign">
      <button class="btn waves-effect waves-light" type="submit" name="action">MARCAR COMO NO FINALIZADA</button>
    </form>
  <% } }%>
    </div>
    <br>
    <script type="text/javascript">
     var myCampaing = <%- JSON.stringify(campaign) %>;
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE3wzxrBK16zMljFyGq294DTotwbl85TY&libraries=places"></script>
    <script type="text/javascript" src="/javascript/mapDraw.js"></script>
