
<div class="container">

  <h5 class="center-align"><%= campaign.description %></h5>


  <form action="/campaign/<%= campaign._id %>/update" method="POST">
    <label for="name">Título</label>
    <input type="text" id="title" name="title" value="<%= campaign.title %>">

    <label for="price">¿Por cuanto?</label>
    <input type="number" name="price" id="price" value="<%= campaign.price %>" placeholder="<%= campaign.price %>">

    <label for="price">Ciudad</label>
    <input type="text" name="city" id="city" value="<%= campaign.city %>" placeholder="<%= campaign.city %>">

    <label for="description">Descripción</label>
    <textarea type="text" name="description" id="description" value="<%= campaign.description %>"><%= campaign.description %></textarea>

    <div class="center-btn">
      <button class="btn waves-effect waves-light" type="submit" name="action">ACTUALIZAR
        <i class="material-icons right">send</i></button>
        <br></br>
      </div>

<br></br>
  </form>
  <div class="center-btn">
    <a href="/campaign" class="btn btn-success"><span class="fa fa-sign-in"></span>CAMPAÑAS</a>
    <br></br>
    <a href="/campaign/<%= campaign._id %>/delete" class="btn btn-default"><span class="fa fa-user"></span>ELIMINAR</a>
  </div>
<br></br>
</div>
