<!-- 
  <h1><%= title %></h1>
  <p>Welcome to
    <%= title %>
  </p>
  <ul>
    <% campaigns.forEach((campaign) => { %>
      <li>
        <%= campaign.title %> - $<%= campaign.price %> -
          <a href="/campaign/<%= campaign._id %>/detail" style="color:green"> View details</a>
          <a href="/campaign/<%= campaign._id %>/delete" style="color:red"> Delete</a>
      </li>
      <%  }) %>
  </ul>
  <br><br>
  <a href="/campaign/create">Crear Campaña</a>
</body> -->

<div class="container">
  <h2> All Projects </h2>
    <% campaigns.forEach((campaign) => { %>
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <img src="<%= campaign.picturesURL %>" alt="<%= campaign.name %>" style="width:100%">
              <div class="caption">
                <p>Project Name: <%= campaign.name %> </p>
                <p>Author: <%= campaign.author %> </p>
                <p>Construction Date: <%= campaign.constructionDate %> </p>
                <p>City: <%= campaign.city %> </p>
                <p>Category: <%= campaign.typology %> </p>
                <a href="/projects/<%= campaign._id %>">View details</a>
              </div>
            </div>
        </div>
    <% }) %>
    </div>
