<div id="map"></div>
<div class="container">
  <h2> All Projects </h2>
  <h3><a href="/campaign/create">Crear Campaña</a></h3>
    <% campaigns.forEach((campaign) => { %>
      <div class="row">
        <div class="col-md-6">
          <div class="thumbnail">
            <img src="<%= campaign.photoURL %>" alt="<%= campaign.name %>">
              <div class="caption">
                <p>Project Name: <%= campaign.title %> </p>
                <p>City: <%= campaign.city %> </p>
                <p>Description: <%= campaign.description %> </p>
                <a href="/campaign/<%= campaign._id %>/detail">View details</a>
              </div>
            </div>
        </div>
    <% }) %>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE3wzxrBK16zMljFyGq294DTotwbl85TY&libraries=places"></script>
<script type="text/javascript" src="/javascript/map.js"></script>
