<%= campaigns.title %>
<div class="container">
<h2 class="center-align"> TODOS LOS EVENTOS </h2>

<div class="center-btn">
  <a href="/campaign/create" class="btn btn-success"><span class="fa fa-sign-in"></span>NUEVA FILA</a>
  <a href="/" class="btn btn-default"><span class="fa fa-user"></span>INICIO</a>
  <a href="/user/profile" class="btn btn-default"><span class="fa fa-user"></span>PERFIL</a>
  <br><br>
</div>

<div class="row">
  <% let i = 0
  campaigns.forEach((campaign) => { %>
  <div class="col s12 m6">
    <div class="card hoverable">
      <div class="card-image">
        <a href="/campaign/<%= campaign._id %>/detail" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <div class="multipleMap" id="map<%= i%>"></div>
        <p>Título & Lugar: <%= campaign.title %> </p>
        <p>Municipio: <%= campaign.city %> </p>
        <p>Descripción: <%= campaign.description %> </p>
        <p>¿Por cuanto?: <%= campaign.price %> </p>
      </div>
    </div>
  </div>
  <% i++ }) %>
</div>
</div>

<script type="text/javascript">
var myCampaing = <%- JSON.stringify(campaigns) %>;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE3wzxrBK16zMljFyGq294DTotwbl85TY&libraries=places"></script>
<script type="text/javascript" src="/javascript/mapDrawAll.js"></script>
