
<div>
  <div id="map"></div>
  <a href="/campaign"> Go back </a>
  <h1><%= campaign.title %></h1>
  <h2><%= campaign.price %></h2>
  <h2> <%= review.isRespond %> </h2>
  <img src="<%= campaign.photoURL %>" alt="<%= campaign.name %>" />
  <p>
    <%= campaign.description %>
  </p>
  <% if(campaign.isRequest == true) { %>
    <% if(user._id == campaign.isGoingToWaitId){ %>
      <% if(campaign.isCompleted === true){ %>
        <p>This campaign has finished. Rate owner and share your opinion</p>
        <% } else { %>
          <p>You are going to wait this queue</p>
          <% } %>
            <% } else { %>
              <p>This campaign have a user for wait:
                <%= campaign.isGoingToWaitName %>
              </p>
              <% } %>
                <% } else { %>
                  <p>This campaign don't have a user yet. ¿Do you want to wait this queue?</p>
                  <form action="/campaign/<%= campaign._id %>/request" method="post">
                    <input id="checkBox" style="display:none" type="checkbox" checked="checked" name="requestCampaign">
                    <button type="submit">I want to wait</button>
                    <br><br>
                  </form>
                  <% } %>

                    <% if (user._id == campaign.isGoingToWaitId && campaign.isRequest == true && campaign.isCompleted == false){ %>
                      <form action="/campaign/<%= campaign._id %>/request" method="post">
                        <input style="display:none" id="checkBox" type="checkbox" name="requestCampaign">
                        <button type="submit">I don't want to wait this queue</button>
                        <br><br>
                      </form>
                      <% } %>
                        <% if(campaign.isCompleted == true && user._id == campaign.isGoingToWaitId) { %>
                          <% if(review.isRespond) { %>
                          <a href="/review/<%= campaign._id %>/create" style="color:blue">Send Review</a>
                        <% } %>
                          <br><br>
                          <% } %>
                            <% if(user._id == campaign.refCreatorId) {%>
                              <% if(campaign.isCompleted == false) { %>
                                <form action="/campaign/<%= campaign._id %>/complete" method="post">
                                  <input id="checkBox" style="display:none" type="checkbox" checked="checked" name="requestCampaign">
                                  <button type="submit">Mark as complete</button>
                                  <br><br>
                                </form>
                                <a href="/campaign/<%= campaign._id %>/update" style="color:green">EDIT CAMPAIGN</a>
                                <br><br>
                                <a href="/campaign/<%= campaign._id %>/delete" style="color:red">DELETE</a>
                                <% } else { %>
                                  <form action="/campaign/<%= campaign._id %>/complete" method="post">
                                    <input style="display:none" id="checkBox" type="checkbox" name="requestCampaign">
                                    <button type="submit">Mark as uncomplete again</button>
                                    <br><br>
                                  </form>
                                  <% } }%>
</div>
<script type="text/javascript">
 var myCampaing = <%- JSON.stringify(campaign) %>;
 </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE3wzxrBK16zMljFyGq294DTotwbl85TY&libraries=places"></script>
<script type="text/javascript" src="/javascript/mapDraw.js"></script>
