<div class="col-sm-8 col-sm-offset-2">
  <div class="text-center">
    <h1 class=" fa fa-user"> Profile</h1><br>
    <span><strong>Username</strong>: <%= user.username %></span><br>
    <span class="fa fa-sign-out"><a href="/"> Sign out</a></span>
    <hr>
    <div class="jumbotron">
        <img src="<%= user.pic_path%>" style="width:140px;"class="img-circle"><br>
        <strong>email</strong>:
        <%= user.email %><br>
        <% if (user._id != null) { %>
          <h2 class="fa fa-facebook"> Facebook</h2><br>
          <img src="https://avatars.io/gravatar/<%= user.email %>/140" class="img-circle"><br>
          <strong>id</strong>:
          <%= user.id %><br>
            <strong>email</strong>:
            <%= user.email %><br>
              <strong>username</strong>:
              <%= user.username %>
      <% } %>
    </div>
    <a href="../../user/<%= user._id %>/editUser">EDIT USER</a>
    <% reviews.forEach((review) => { %>
      <div class="row">
        <div class="col-md-12">
          <div class="thumbnail">
              <div class="caption">
                <p><%= review.title %> </p>
                <p>Author: <%= user.username %> </p>
                <p>Description: <%= review.description %> </p>
                <p>Valoration: <%= review.stars %> </p>
              </div>
            </div>
            <% }) %>
        </div>
    </div>
  </div>
</div>
